:root {
  --main-color: #222e35;
  --side-panel: #0c1317;
  --navbar-color: #202c33;
  --searchbar-color: #202c33;
  --button-bg-color: #00a884;
  --notification-color: #63cb77;
  --font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, Courier, monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
